vmaccepteula
install --disk=t10.NVMe____SKHynix_HFS512GEJ9X162N_________________AJEBN74041040C403___00000002 --overwritevmfs
reboot

network --bootproto=static --device=vmnic1 --vlanid=30 --ip=172.30.0.11 --netmask=255.255.255.0 --gateway=172.30.0.1 --hostname=esx02.vcf.lab --nameserver=192.168.30.29 --addvmportgroup=1
rootpw VMware1!

%firstboot --interpreter=busybox

ENABLE_NVME_TIERING="true"
NVME_TIERING_DEVICE="t10.NVMe____MTFDLBA1T0THJ2D1BP15ABYY_________________5D19D3500175A002"
VMFS_DATASTORE_NAME="local-vmfs-datastore-2"
NTP_SERVER=96.19.94.82
SSH_ROOT_KEY=""
MANAGEMENT_VLAN=30
MANAGEMENT_VSWITCH_MTU=9000

# Ensure hostd is ready
while ! vim-cmd hostsvc/runtimeinfo; do
sleep 10
done

# Enter Maintenance Mode
esxcli system maintenanceMode set -e true

# enable & start SSH
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# enable & start ESXi Shell
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

# Suppress ESXi Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1

# Configure NTP
esxcli system ntp set -e true -s $NTP_SERVER

# Rename local VMFS datastore
vim-cmd hostsvc/datastore/rename datastore1 ${VMFS_DATASTORE_NAME}

# Enable & Configure NVMe Tiering (controlled by flag)
if [ "$ENABLE_NVME_TIERING" = "true" ]; then
    echo "NVMe Tiering is ENABLED"

    version=$(vmware -r)

    if echo "$version" | grep -q "9.0"; then
        echo "Detected 9.0"
        esxcli system settings kernel set -s MemoryTiering -v TRUE
        esxcli system settings advanced set -o /Mem/TierNvmePct -i 100
        esxcli system tierdevice create -d /vmfs/devices/disks/${NVME_TIERING_DEVICE}

    elif echo "$version" | grep -q "9.1"; then
        echo "Detected 9.1"
        esxcli memtier enable -d /vmfs/devices/disks/${NVME_TIERING_DEVICE} -r 100

    else
        echo "Unknown version: $version"
    fi

else
    echo "NVMe Tiering is DISABLED, skipping configuration"
fi

# Disable LRO/TSO (especially for Intel 710 nics)
esxcli system settings advanced set -o /Net/TcpipDefLROEnabled -i 0
esxcli system settings advanced set -o /Net/UseHwTSO -i 0

# Use older vSAN ESA compression algorithim
esxcli system settings advanced set -o /VSAN/Vsan2ZdomCompZstd -i 0

/bin/generate-certificates

# Enable Core Dump
esxcli system coredump file set -s -e true

# Configure SSH keys if provided
if [ -n "${SSH_ROOT_KEY}" ]; then
    echo "${SSH_ROOT_KEY}" > /etc/ssh/keys-root/authorized_keys
fi

# Configure VM Network VLAN & MTU
esxcli network vswitch standard portgroup set -p "VM Network" -v ${MANAGEMENT_VLAN}
esxcli network vswitch standard set -m ${MANAGEMENT_VSWITCH_MTU} -v vSwitch0
esxcli network ip interface set -i vmk0 -m ${MANAGEMENT_VSWITCH_MTU}

# Exit Maintenance Mode
esxcli system maintenanceMode set -e false

reboot
